
@import "reset";

a{text-decoration: none;
font-weight: 500;}

body{background-color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
height: 100vh;
}

h1{text-align: center;
margin: 2rem 0;
font-size: 3rem;
text-transform: capitalize;
color: white;}

.container{
    margin: 0 auto;
    width: 1024px;
display: grid;
gap: 1rem;
grid-template-columns: repeat(3,1fr);
grid-template-areas: "header header header"
                     "sidebar-l  main sidebar-r"
                     "sidebar-l2 main sidebar-r2"
                     "sidebar-l2 main sidebar-r3";
}

.header{grid-area: header;
    background-color: white;
    border: 4px solid;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top-color: blueviolet;
    padding: 1rem;
nav{
display: inline-flex;
}
a{
color: blueviolet;
margin-left: 3rem;
margin-right: 3rem;
}
}

.main{grid-area: main;
background-color: white;
position: relative;

h2{margin: .5rem .5rem;
    font-size: 1.2rem;
    font-weight: 600;}
    p{margin: 1.5rem .5rem;}
    a{margin: .5rem .5rem;}
    
}

.sidebar-l{grid-area: sidebar-l;
background-color: white;
h2{margin: .5rem .5rem;
font-size: 1.2rem;
font-weight: 600;}
p{margin: 1.5rem .5rem;}
a{margin: .5rem .5rem;}
}

.sidebar-l2{grid-area: sidebar-l2;
    background-color: white;
display: flex;
flex-direction: column;
h2{margin: .5rem .5rem;
    font-size: 1.2rem;
    font-weight: 600;}
    p{margin: .5rem .5rem;}
    a{margin: .5rem .5rem;}
}


.sidebar-r{grid-area: sidebar-r;
    background-color: white;

    h2{margin: .5rem .5rem;
        font-size: 1.2rem;
        font-weight: 600;
    text-transform: capitalize;}
        p{margin: .5rem .5rem;}
        a{display: block;
        background-color: red;
    padding: 1rem;
text-transform: capitalize;
color: white;}
}

.sidebar-r2{grid-area: sidebar-r2;
background-color: white;


h2{
    font-size: 1.2rem;
    font-weight: 600;
text-transform: capitalize;
display: block;

    background-color: blueviolet;
    color: white;
padding: 1rem;}
    p{margin: .5rem .5rem;}
    a{margin: .5rem .5rem;}

}

.sidebar-r3{
    grid-area: sidebar-r3;
    background-color: white;
    h2{margin: .5rem .5rem;
        font-size: 1.2rem;
        font-weight: 600;
    text-transform: capitalize;}
        p{margin: 1.5rem .5rem;}
        a{margin: .5rem .5rem;}
        
}


.cat{width: 200px;
    height: 200px;
border-radius: 50%;
border: 2px solid chartreuse;
position: relative;
left: 4rem;}

.bar{width: 100px;
height: 100px;
position: relative;
left: 5rem;}

.border{
    border: 4px solid;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top-color: blueviolet;
}

.red-a{
    text-transform: capitalize;
    color: red;
}

@media screen and (max-width: 768px) {

    .container {
      grid-template-areas:
        "header header header"
        "sidebar-l sidebar-r sidebar-r"
        "sidebar-l2 sidebar-r2 sidebar-r2"
        "sidebar-l2 sidebar-r3 sidebar-r3"        
        "main . .";
    }
    .sidebar-l {
      grid-area: sidebar-l;
    }
  
    .sidebar-r {
      grid-area: sidebar-r;
    }
  
    .sidebar-l2 {
      grid-area: sidebar-l2;
    }
  
    .main {
      grid-area: main;
    }
  
    .sidebar-r2 {
      grid-area: sidebar-r2;
    }
  
    .sidebar-r3 {
      grid-area: sidebar-r3;
    }
  }
  
  
@media screen and (max-width: 768px) {

    .container {
      grid-template-areas:
        "header header header"
        "sidebar-l sidebar-r sidebar-r"
        "sidebar-l2 sidebar-r2 sidebar-r2"
        "sidebar-l2 sidebar-r3 sidebar-r3"        
        "main . .";
    }
    .sidebar-l {
      grid-area: sidebar-l;
    }
  
    .sidebar-r {
      grid-area: sidebar-r;
    }
  
    .sidebar-l2 {
      grid-area: sidebar-l2;
    }
  
    .main {
      grid-area: main;
    }
  
    .sidebar-r2 {
      grid-area: sidebar-r2;
    }
  
    .sidebar-r3 {
      grid-area: sidebar-r3;
    }
  }
  
  @media screen and (max-width: 480px) {
    .container {
      grid-template-areas:
        "header header header"
        "sidebar-l sidebar-l sidebar-l "
        "sidebar-l2 sidebar-l2 sidebar-l2"
        "main main main"
        "sidebar-r sidebar-r sidebar-r"
        "sidebar-r2 sidebar-r2 sidebar-r2"
        "sidebar-r3 sidebar-r3 sidebar-r3";
      grid-template-columns: 1fr;
    }
  }
  